#############################################################################################################################
#                                                                                                                           #
# @file : .gitignore                                                                                                          #
#                                                                                                                           #
# Autour : Ayyoub el kouri                                                                                                  #
#                                                                                                                           #
# date : 26/01/2025                                                                                                         #
#                                                                                                                           #
# lastUpdate : 26/01/2025                                                                                                   #
#                                                                                                                           #
#############################################################################################################################



*.o
bin/
obj/


*.log
*.tmp


.vscode/
.idea/
*.swp

XML/ayyoub